.login-header{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    z-index: 100;
    margin: 0;
    padding: 0px 40px;
}
.login-header .div-login{
    background-color: white;
}
.login-header .div-login a{
    padding-left:30px;
    padding-right:30px;
}
@media (max-width:750px){
    .login-header .div-login{
        justify-content: space-around;
    }
    .login-header .div-login a{
        text-align: center;
        margin: 0;
        width: max-content;
    }
}